# Dependencies
node_modules
.pnpm-store

# Production build output
dist
dist-ssr

# Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Temporary Figma API Dumps & Render Images
figma_renders
*.json_dump
figma_full.json
figma_nodes.json
figma_image_fills.json
figma_images.json

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
